- case controller_action
  - when 'services#edit'
    - id = 'edit_service'
  - when 'services#new'
    - id = 'new_service'

= form_for(@service, remote:true, html:{id:id, data:{type:'json'}}) do |f|
  .row
    .col-md-4
      %fieldset
        = f.text_field :name, class:'form-control', placeholder:'Service Name'
        = f.text_field :base_cost_dollars, class:'form-control', placeholder:'Default Cost'

      .form-actions
        = f.submit 'Submit', class:'btn btn-md btn-success'
