#table_data{style:'margin-top:20px;'}
  %table#states.table.datatable
    %thead
      %tr
        %th Name
        %th Abbreviation
        %th Country
        %th
        %th
    %tbody

  %br

  = link_to 'New State', new_state_path
