%table.table.table-hover
  %caption
    .h4
      Workorders
      - if @property.current_customer_property
        = link_to content_tag(:i, nil, {class:'glyphicon glyphicon-plus pull-right', style:'color:green;'}),
        new_workorder_path(customer_property_id: @property.current_customer_property),
        remote:true,
        id:'new_workorder_link'

    - if @property.current_customer_property
      %thead
        %tr
          %th.h5='Name'
          %th.h5='Status'
      %tbody
        - unless @property.workorders.empty?
          - @property.workorders.each do |workorder|
            %tr.workorder{data:{url:properties_load_workorder_data_path(workorder_id:workorder.id)}}
              %td.h6
                %a= workorder.name
              %td.h6= workorder.status.status
        - else
          %tr.h5
            %td{colspan:2}
              There are no work orders available for viewing.
    - else
      .h5{style:'color:red'}
        You need to add an owner before creating any work orders.