.row
  .col-md-8.form
    .well
      = render 'form'
  .col-md-4.map
    .well
      = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=800x600&maptype=roadmap' + |
                  '&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318' + |
                  '&markers=color:red%7Clabel:C%7C40.718217,-73.998284&sensor=false' |

.row
  .col-md-12
    .well
      %table#properties.table.table-hover.datatable
        %thead
          %tr
            %th='Address'
            %th='Current Owner'
            %th='Services'
            %th='Invoice Amount Due'
            %th{style:'width:20%;'}='Actions'
        %tbody
          /- @properties.each do |property|
          /  %tr
          /    %td= "#{property.street_address_1 + '<br/>' +  property.street_address_2.to_s + '<br/>' + property.city + ', ' + property.state.short_name + ' ' + property.postal_code}".html_safe
          /    %td= 'Morgan Watson'
          /    %td= 'Mow Lawn <br/> Pull Weeds'.html_safe
          /    %td= '$137.56'
          /    %td
          /      .btn-group
          /        = link_to 'View', property, class:'btn btn-default btn-sm'
          /        = link_to 'Edit', edit_property_path(property), class:'btn btn-default btn-sm'
          /        = link_to 'Delete', property_path(property), method: :delete, data:{confirm:'Are you sure?'}, class:'btn btn-danger btn-sm'