= javascript_include_tag '//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization'

.row
  .col-md-8.form
    .well
      #property-form= render 'form'
  .col-md-4.map
    .well
      #map-canvas

.row
  .col-md-12
    .well
      %table#properties.table.table-hover.datatable
        %thead
          %tr
            %th='Address'
            %th='Current Owner'
            %th='Services'
            %th='Invoice Amount Due'
        %tbody