.row
  .col-md-6.profile
    .well
      #profile
        = render 'profile'
  .col-md-6.properties
    .well
      #properties
        = render 'properties'
.row
  .col-md-12
    .well
      #property-data
        = render 'property_details'