.row
  .col-md-5.profile
    .well
      #profile
        = render 'profile'
  .col-md-7.properties
    .well
      #properties
        = render 'properties'
.row
  .col-md-12
    .well
      #property-details
        = render 'property_details'