%form.navbar-form{action:search_path, method:'get', remote:'true', role: 'search'}
  %input#site-search.search_field.form-control{name:'term', type:'text', placeholder:'Search...', autocomplete:'off'}